nav #log-in .btn-flat {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  padding: 5px;
  width: 100%
}

.index-page {
  height: 1000px
}
nav #log-in  input {
  color: #000
}
nav #log-in input[type=email]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #01579B;
  -webkit-box-shadow: 0 1px 0 0 #01579B;
  box-shadow: 0 1px 0 0 #01579B;
  color: #01579B
}
nav #log-in label {
  color: #01579B
}
